html {
    background-color: #7191aa;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
}

header, footer {
    background-image: url('../img/health.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 18px 25px gray;
}

footer {
    padding: 2em;
}

header h1 {
    margin: 0;
    padding: 0.2em;
    color: white;
    text-shadow: 10px 20px 40px azure;
}

header p {
    padding: 0.2em;
    /* font-size: 3vw; */
    color: white;
    font-weight: bold;
    text-shadow: 10px 20px 40px azure;
}

header a.start {
    display: inline-block;
    /* font-size: 4vw; */
    color: azure;
    border: 5px solid white;
    background: #801a1c98;
    padding: 0.2em 0.4em;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
    margin-left: 0.5em;
}

nav ul {
    margin-top: 1em;
    /* font-size: 200%; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    background-color: #a5a9b5af;
}

nav ul li {
    width: 200px;
}

nav a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
}

header a:hover {
    background-color: #edb898b2;
}

article, section {
    color: white;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

article>*, section>* {
    flex: 1 1 10%;
}

article {
    /* font-size: 2em; */
}

section {
    border: 2px solid white;
}

.content {
    padding: 1em;
    text-align: center;
}

.content p {
    display: inline-block;
    text-align: left;
}

.content p::first-letter {
    font-size: 200%;
    float: left;
    padding: 0.2em;
}

img {
    margin: auto;
    height: 100%;
    max-width: 400px;
    display: block;
    object-fit: cover;
    border: 2px solid white;
}

footer {
    border-top: 3px solid white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-auto-rows: 1fr; */
}

.grid p {
    background: grey;
    padding: 1em;
    border: 2px solid black;
    margin: 0 .5em;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

tr, td, th {
    border: 1px solid black;
}

tbody tr:nth-child(odd) {
    background: #343f3179;
}

tbody tr:nth-child(even) {
    background: #c7809aab;
}

thead tr {
    background: #41573cb2;
}